<div class="mobile-hero-margin-top_t0d tablet-hero-margin-top_t0d">
  <img style="width:100vw" src="../../assets/images/RobAndPumpkin_crop2.jpg">
</div>
<div>
  <p class="rainbow-background1_t0d hide-for-769-and-above_t0d mobile-hero-caption_t0d">
    Louisville's Wellness
    Experts Since 1977</p>
</div>


<div class="wrap">
  <div id="arrow-left" class="arrow"></div>
  <div id="slider">
    <div class="slide slide1">
      <div class="slide-content">
        <span>St. Matthews</span>
      </div>
    </div>
    <div class="slide slide2">
      <div class="slide-content">
        <span>Highlands/Gardiner Lane</span>
      </div>
    </div>
    <div class="slide slide3">
      <div class="slide-content">
        <span>Springhurst</span>
      </div>
    </div>
    <div class="slide slide4">
      <div class="slide-content">
        <span>Middletown</span>
      </div>
    </div>
    <div class="slide slide5">
      <div class="slide-content">
        <span>New Albany</span>
      </div>
    </div>
  </div>
  <div id="arrow-right" class="arrow"></div>
</div>


<!-- <ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[2]" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel> -->
